body{
background-image: url("zucca-batwing-0a5031cc.jpeg") ;
background-repeat: no-repeat;
background-size: cover;
}

h1{
    background-color: rgba(20, 40, 50, 0.5);
     color: whitesmoke;
}

p{
    background-color: rgba(20, 40, 50, 0.5);
    color: whitesmoke;
}